<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SLMMan" connectionString="Database=master;Server=.;uid=sa;password=sa;Connection Timeout=300;" providerName="System.Data.SqlClient"/>
    <add name="connString" connectionString="Database=KINGLAND_new;Server=139.255.253.177;uid=sa;password=123;Connection Timeout=300;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
